In [1]:
from CalendarEvents import CalendarEvents, TodayCalendarEvents, WeekCalendarEvents

## Current Week

In [2]:
week = WeekCalendarEvents()
week.daily_summary()
week.category_summary()

start: 2021-03-08 end: 2021-03-13
date_restriction [Start] >= '03/08/2021' AND [End] <= '03/14/2021'

             Duration      Hours Percentage
Category
Admin             490   8.166667     24.08%
Development       925  15.416667     45.45%
Education         240   4.000000     11.79%
Meetings           60   1.000000      2.95%
None              220   3.666667     10.81%
Support           100   1.666667      4.91%

## Today

In [3]:
TodayCalendarEvents().category_summary()

date_restriction [Start] >= '03/12/2021' AND [End] <= '03/13/2021'

             Duration     Hours Percentage
Category
Admin              60  1.000000     17.65%
Development       130  2.166667     38.24%
Education         120  2.000000     35.29%
Support            30  0.500000      8.82%

## Specify Time Period

In [6]:
calendar = CalendarEvents("2021-03-01", "2021-03-05")

calendar.category_summary()

date_restriction [Start] >= '03/01/2021' AND [End] <= '03/06/2021'

             Duration      Hours Percentage
Category
Admin             375   6.250000     18.70%
Development       880  14.666667     43.89%
Education         240   4.000000     11.97%
Meetings          300   5.000000     14.96%
None              120   2.000000      5.99%
Support            90   1.500000      4.49%

In [ ]:
calendar.daily_summary()